<header class="header">
    <form id="form-search">
        <div class="searchbar">
            <input id="searchInput" type="search" placeholder="song or artist" value="{{searchTerm}}">
            </label>
            <button id="searchButton" class="btn btn-primary">Search</button>
        </div>
    </form>
</header>
{{!-- Javascript only runs when search exisits --}}
<script src="js/search.js"></script>