{{> header}}

<main>
  <h1 id="song-title">SONGSTER</h1>

  <form class="create-form">
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="small-9 cell">
          <label id="searchbox">Search
            <input id="search-input" type="search" placeholder="song or artist">
          </label>
          <button style="background: white" id="search-btn">Search</button>
        </div>
      </div>
    </div>
  </form>


  <h2 id="head-1">Top <br> Playlists</h2>

  <section>
    <div class="grid-container">
      <div class="grid-x grid-margin-x small-up-2 medium-up-3">
        <div class="cell">
          <div class="card">
            <img src="">
            <div class="card-section">

              <h4><a class="billboardText" href="https://www.billboard.com/charts/hot-100">Billboard Hot 100</a></h4>

            </div>
          </div>
        </div>
        <div class="cell">
          <div class="card">
            <img src="">
            <div class="card-section">

              <h4><a class="billboardText" href="https://www.billboard.com/charts/rock-albums">Billboard Top Rock</a></h4>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-margin-x small-up-2 medium-up-3">
        <div class="cell">
          <div class="card">
            <img src="">
            <div class="card-section">

              <h4><a class="billboardText" href="https://www.billboard.com/charts/r-b-hip-hop-songs">Billboard Hot R&B</a></h4>

            </div>
          </div>
        </div>
        <div class="cell">
          <div class="card">
            <img src="">
            <div class="card-section">

              <h4><a class="billboardText" href="https://www.billboard.com/charts/country-songs">Billboard Hot Country</a></h4>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<h2 id="play-1">My <br> Playlist</h2>

{{>footer}}