

<main>
      <form>
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="small-9 cell">
              <label id="searchbox">
                <input id="select" type="search" placeholder="song or artist">
              </label>
            </div>
          </div>
        </div>
      </form>
      <h2 id="head-2">My Playlist</h2>
  
      <section>
        <div class="row, results-body">
          <div class="medium-4 columns">
            <ul class="vertical menu, music">
              <li><a href="#"><i class="fas fa-record-vinyl"></i> <span>Song Title - Artist</span><button type="button" class="warning button">Delete</button></a></li>
              <li><a href="#"><i class="fas fa-record-vinyl"></i> <span>Song Title - Artist</span><button type="button" class="warning button">Delete</button></a></li>
              <li><a href="#"><i class="fas fa-record-vinyl"></i> <span>Song Title - Artist</span><button type="button" class="warning button">Delete</button></a></li>
              <li><a href="#"><i class="fas fa-record-vinyl"></i> <span>Song Title - Artist</span><button type="button" class="warning button">Delete</button></a></li>
              <li><a href="#"><i class="fas fa-record-vinyl"></i> <span>Song Title - Artist</span><button type="button" class="warning button">Delete</button></a></li>
              <li><a href="#"><i class="fas fa-record-vinyl"></i> <span>Song Title - Artist</span><button type="button" class="warning button">Delete</button></a></li>
              <li><a href="#"><i class="fas fa-record-vinyl"></i> <span>Song Title - Artist</span><button type="button" class="warning button">Delete</button></a></li>
              <li><a href="#"><i class="fas fa-record-vinyl"></i> <span>Song Title - Artist</span><button type="button" class="warning button">Delete</button></a></li>
              <li><a href="#"><i class="fas fa-record-vinyl"></i> <span>Song Title - Artist</span><button type="button" class="warning button">Delete</button></a></li>
              <li><a href="#"><i class="fas fa-record-vinyl"></i> <span>Song Title - Artist</span><button type="button" class="warning button">Delete</button></a></li>
            </ul>
          </div>
        </div>
      </section>  
    </main>  
    <div class="cell shrink footer">
      <h3>Here's my footer</h3>
    </div>

