  
  
  <header id="pagetop">
    <h1>SONGSTER</h1>
    <div class="grid-x grid-padding-x">
      <div class="cell medium-4"></div>
    </div>
  </header>
  <main>
    <form>
      <div class="grid-container">
        <div class="grid-x grid-padding-x">
          <div class="small-9 cell">
            <label id="searchbox">Search
              <input id="select" type="search" placeholder="song or artist">
            </label>
          </div>
        </div>
      </div>
    </form>
    <h2 id="head-1">Top <br> Playlists</h2>

    <section>
      <div class="grid-container">
        <div class="grid-x grid-margin-x small-up-2 medium-up-3">
          <div class="cell">
            <div class="card">
              <img src="">
              <div class="card-section">
              <h4>Billboard Pop Top 20</h4>
              </div>
            </div>
          </div>
          <div class="cell">
            <div class="card">
              <img src="">
              <div class="card-section">
                <h4>Billboard Rock Top 20</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-container">
        <div class="grid-x grid-margin-x small-up-2 medium-up-3">
          <div class="cell">
            <div class="card">
              <img src="">
              <div class="card-section">
              <h4>Billboard R&B Top 20</h4>
              </div>
            </div>
          </div>
          <div class="cell">
            <div class="card">
              <img src="">
              <div class="card-section">
                <h4>Billboard Top 100</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>  

    <h2 id="play-1">My <br> Playlist</h2>
  </main>  
  <div class="cell shrink footer">
    <h3>Here's my footer</h3>
  </div>

